body {
    text-align: center;
    background-color: rgb(119, 141, 141);
    background-image: url(img/1597580143_screenshot_5.webp);
}


.nome { 
    color: rgb(6, 39, 6);
}

.foto {
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
}

.sobre {
    font-style: italic;
    color: rgb(6, 39, 6);
    margin: 10px;
}

.sobre2 {
text-align: center;
font-size: medium;
color: gainsboro;
}

.hobbies {
    font-style: italic;
    color: rgb(6, 39, 6);
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
    font-size: medium;
    color: gainsboro;
}

.insta:hover {
    transform: scale(1.1);
}

.link:hover {
    color: forestgreen;
}


